.navbar {
    background-color: #DABF8A;

}

.navbar-toggler {
    border: 1px solid $color-primary;
    
    &:focus {
        @include box-shadow(2, 0, $color-primary);
    }
}

.nav-link {
    color: $color-primary;
}

.nav-link:hover {
    color: $color-primary;
    @include text-shadow(1, $color-primary);
}

.active {
    color: darken($color-primary, 20%);

    &:active{
        @include text-shadow(1, darken($color-primary, 20%))
    }
}

#logo {
    width: 8vh;
    height: 8vh;
}